<!-- views/index.ejs -->
<%- include('../pagina/header') %>




   <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="img/css.png" alt="">
                </div>
                <div class="col-lg-7">
                    <div class="text-left mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Tecnologías Utilizadas</h5>
                        <h1>CSS</h1>
                    </div>
                    <p style="text-align: justify;">
                        En Innovate Solution Studio, utilizamos <strong>CSS (Cascading Style Sheets)</strong> para dar estilo y formato a nuestros sitios web, asegurando que cada proyecto no solo sea funcional, sino también visualmente atractivo y consistente en todos los dispositivos.
                    </p>
                    <p style="text-align: justify;">
                        <strong>¿Cómo manejamos CSS en Innovate Solution Studio?</strong>
                    </p>
                    <ul style="text-align: justify;">
                        <li><strong>Diseño Responsivo:</strong> Utilizamos técnicas modernas de CSS, como **media queries**, para garantizar que nuestros sitios se adapten correctamente a diferentes tamaños de pantalla, proporcionando una experiencia de usuario fluida en dispositivos móviles, tabletas y ordenadores.</li>
                        <li><strong>CSS3 y efectos avanzados:</strong> Aprovechamos las funcionalidades de **CSS3**, como transiciones, animaciones y sombras, para crear interfaces dinámicas e interactivas sin comprometer el rendimiento.</li>
                        <li><strong>Preprocesadores CSS:</strong> Para proyectos más complejos, utilizamos preprocesadores como **SASS** o **LESS**, lo que nos permite mantener un código CSS modular, organizado y fácil de mantener.</li>
                        <li><strong>Frameworks CSS:</strong> En Innovate Solution Studio integramos frameworks como **Bootstrap** para acelerar el desarrollo, garantizando un diseño consistente y fácil de personalizar.</li>
                        <li><strong>Buenas prácticas y optimización:</strong> Nos aseguramos de seguir las mejores prácticas en el uso de CSS, como el uso de selectores específicos y la minificación de archivos, para optimizar la carga y el rendimiento del sitio.</li>
                    </ul>
                    <a href="https://developer.mozilla.org/es/docs/Web/CSS" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Leer Más</a>
                </div>
                
            </div>
        </div>
    </div>
    <!-- About End -->



   


    <%- include('../pagina/footer') %>