<!-- views/index.ejs -->
<%- include('../pagina/header') %>




   <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="img/html.png" alt="">
                </div>
                <div class="col-lg-7">
                    <div class="text-left mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Tecnologías Utilizadas</h5>
                        <h1>HTML</h1>
                    </div>
                    <p style="text-align: justify;">
                        En Innovate Solution Studio, utilizamos <strong>HTML (HyperText Markup Language)</strong> como una de las tecnologías fundamentales para la creación de sitios web. HTML es el lenguaje base sobre el cual construimos la estructura de nuestras páginas, garantizando que los sitios sean accesibles, escalables y fáciles de mantener.
                    </p>
                    <p style="text-align: justify;">
                        <strong>¿Cómo manejamos HTML en Innovate Solution Studio?</strong>
                    </p>
                    <ul style="text-align: justify;">
                        <li><strong>Estructura semántica:</strong> En Innovate Solution Studio, nos enfocamos en una codificación HTML semántica, lo que mejora la accesibilidad y el SEO de los sitios que desarrollamos.</li>
                        <li><strong>HTML5 moderno:</strong> Aprovechamos las capacidades de HTML5 para integrar multimedia y formularios avanzados, permitiendo una experiencia de usuario más interactiva.</li>
                        <li><strong>Integración con CSS y JavaScript:</strong> Combinamos HTML con CSS y JavaScript para transformar la estructura en interfaces visualmente atractivas y funcionales.</li>
                        <li><strong>Optimización para dispositivos móviles:</strong> Diseñamos nuestras páginas con HTML responsive, garantizando una visualización óptima en todos los dispositivos.</li>
                        <li><strong>Accesibilidad y Buenas Prácticas:</strong> Seguimos las mejores prácticas de accesibilidad web, usando elementos semánticos y atributos que mejoran la experiencia para todos los usuarios.</li>
                    </ul>
                    <a href="https://developer.mozilla.org/es/docs/Web/HTML" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Leer Más</a>
                </div>
                
            </div>
        </div>
    </div>
    <!-- About End -->



   


    <%- include('../pagina/footer') %>