<!-- views/index.ejs -->
<%- include('../pagina/header') %>




   <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="img/jquery.png" alt="">
                </div>
                <div class="col-lg-7">
                    <div class="text-left mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Tecnologías Utilizadas</h5>
                        <h1>jQuery</h1>
                    </div>
                    <p style="text-align: justify;">
                        En Innovate Solution Studio, utilizamos <strong>jQuery</strong> para facilitar la manipulación del DOM, mejorar la interactividad en nuestras aplicaciones web y simplificar el desarrollo, asegurando que los sitios sean altamente dinámicos y compatibles con diferentes navegadores.
                    </p>
                    <p style="text-align: justify;">
                        <strong>¿Cómo manejamos jQuery en Innovate Solution Studio?</strong>
                    </p>
                    <ul style="text-align: justify;">
                        <li><strong>Interactividad Dinámica:</strong> Utilizamos jQuery para agregar interactividad a nuestros sitios web, como el manejo de eventos, animaciones y actualizaciones de contenido en tiempo real sin necesidad de recargar la página.</li>
                        <li><strong>AJAX y Carga de Datos:</strong> Aprovechamos jQuery para realizar solicitudes AJAX, lo que nos permite cargar datos de forma asíncrona desde el servidor y mejorar la experiencia del usuario sin interrupciones.</li>
                        <li><strong>Compatibilidad entre Navegadores:</strong> jQuery nos ayuda a garantizar que el comportamiento de nuestros sitios web sea consistente en todos los navegadores, lo que facilita el manejo de diferencias entre ellos.</li>
                        <li><strong>Manipulación del DOM:</strong> Con jQuery, podemos seleccionar y manipular elementos del DOM de manera sencilla y eficiente, lo que nos permite desarrollar interfaces de usuario dinámicas de forma rápida.</li>
                        <li><strong>Uso de Plugins:</strong> En Innovate Solution Studio también utilizamos la vasta biblioteca de plugins disponibles para jQuery, lo que nos permite integrar funcionalidades avanzadas como sliders, modales y efectos visuales de manera rápida y eficiente.</li>
                    </ul>
                    <a href="https://jquery.com/" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Leer Más</a>
                </div>
                
                
            </div>
        </div>
    </div>
    <!-- About End -->



   


    <%- include('../pagina/footer') %>