<!-- views/index.ejs -->
<%- include('../pagina/header') %>




   <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="img/nodejs.png" alt="">
                </div>
                <div class="col-lg-7">
                    <div class="text-left mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Tecnologías Utilizadas</h5>
                        <h1>Node.js</h1>
                    </div>
                    <p style="text-align: justify;">
                        En Innovate Solution Studio, utilizamos <strong>Node.js</strong> para desarrollar aplicaciones de servidor rápidas, escalables y eficientes, asegurando que nuestras soluciones sean de alto rendimiento y capaces de manejar grandes volúmenes de tráfico.
                    </p>
                    <p style="text-align: justify;">
                        <strong>¿Cómo manejamos Node.js en Innovate Solution Studio?</strong>
                    </p>
                    <ul style="text-align: justify;">
                        <li><strong>Aplicaciones en Tiempo Real:</strong> Utilizamos Node.js para desarrollar aplicaciones en tiempo real como chats, plataformas colaborativas y sistemas de notificaciones instantáneas, aprovechando la capacidad de manejar múltiples conexiones simultáneamente.</li>
                        <li><strong>API RESTful:</strong> Con Node.js, desarrollamos APIs RESTful eficientes que permiten la comunicación rápida y segura entre el servidor y las interfaces de usuario, facilitando el intercambio de datos.</li>
                        <li><strong>Escalabilidad y Rendimiento:</strong> Node.js es ideal para crear aplicaciones escalables gracias a su arquitectura de manejo de eventos no bloqueante, lo que nos permite optimizar el rendimiento incluso bajo alta carga.</li>
                        <li><strong>Microservicios:</strong> En Innovate Solution Studio, diseñamos arquitecturas basadas en microservicios utilizando Node.js, lo que nos permite crear aplicaciones modulares y mantenibles que pueden escalar de forma independiente.</li>
                        <li><strong>NPM y Módulos:</strong> Aprovechamos el ecosistema de paquetes de Node.js a través de **NPM (Node Package Manager)**, lo que nos permite integrar rápidamente módulos y librerías que agilizan el desarrollo y agregan funcionalidades avanzadas.</li>
                    </ul>
                    <a href="https://nodejs.org/" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Leer Más</a>
                </div>
                
                
            </div>
        </div>
    </div>
    <!-- About End -->



   


    <%- include('../pagina/footer') %>