<!-- views/index.ejs -->
<%- include('pagina/header') %>




    <!-- Registration Start -->
    <div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-7 mb-5 mb-lg-0">
                    <div class="mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">¡Transforma tu Negocio con Innovate Solution Studio!</h5>
                        <h1 class="text-white">Innovación a tu alcance, éxito en cada línea de código</h1>
                    </div>
                    <p class="text-white">Aprovecha nuestra promoción especial y lleva tu empresa al siguiente nivel con soluciones de software 
                        personalizadas. Durante este mes, ofrecemos descuentos exclusivos en el desarrollo de aplicaciones web y móviles,
                         asegurando que cada proyecto se adapte a tus necesidades y objetivos. ¡No pierdas la oportunidad de impulsar tu 
                         negocio con tecnología de vanguardia!</p>
                    <ul class="list-inline text-white m-0">
                        <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>20% de Descuento en todos nuestros servicios de desarrollo de software a medida.</li>
                        <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Consultoría Gratuita para definir las mejores soluciones tecnológicas para tu empresa.</li>
                        <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Soporte Premium durante los primeros 6 meses de implementación.</li>
                    </ul>
                </div>
                <div class="col-lg-5">
                    <div class="card border-0">
                        <div class="card-header bg-light text-center p-4">
                            <h1 class="m-0">Contáctanos</h1>
                        </div>
                        <div class="card-body rounded-bottom bg-light p-5">
                            <div class="contact-info">
                                <h5 class="text-primary">Nos encontramos en</h5>
                                <p><a href="https://maps.google.com/?q=Tu+Dirección+Aquí" target="_blank" style="color: rgb(44, 44, 44);">La paz - Bolivia</a></p>
                
                                <h5 class="text-primary">Teléfono</h5>
                                <p><a href="tel:+1234567890"style="color: rgb(44, 44, 44);">(+591)76582518</a></p>
                
                                <h5 class="text-primary">Correo Electrónico</h5>
                                <p><a href="mailto:innovatesolutionstudio@gmail.com" style="color: rgb(44, 44, 44);">innovatesolutionstudio@gmail.com</a></p>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Registration End -->





    <%- include('pagina/footer') %>