<!-- views/index.ejs -->
<%- include('pagina/header') %>




    <!-- Team Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-5">
                <h5 class="text-primary  mb-2" style="letter-spacing: 1px;">"Cada desafío es una oportunidad para crecer. Avanza con confianza y transforma tus ideas en éxitos."</h5>
                <h1>Nuestro Equipo</h1>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 text-center team mb-4">
                    <div class="team-item rounded overflow-hidden mb-2">
                        <div class="team-img position-relative">
                            <img class="img-fluid" src="img/jerome jimenez.jpg" alt="">
                            <div class="team-social">
                                <a class="btn btn-outline-light btn-square mx-1" href="mailto:jerome.jimenez765@gmail.com"><i class="fab fa-google"></i></a>
                                <a class="btn btn-outline-light btn-square mx-1" href="https://www.instagram.com/xnmehec_xepom/"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="bg-secondary p-4">
                            <h5>Jerome Jimenez</h5>
                            <p class="m-0">Project Management</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center team mb-4">
                    <div class="team-item rounded overflow-hidden mb-2">
                        <div class="team-img position-relative">
                            <img class="img-fluid" src="img/cindy torrez.jpg" alt="">
                            <div class="team-social">
                                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-google"></i></a>
                                <a class="btn btn-outline-light btn-square mx-1" href="https://www.instagram.com/cindy_torrezl?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="bg-secondary p-4">
                            <h5>Cindy Torrez</h5>
                            <p class="m-0">Product Owner</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center team mb-4">
                    <div class="team-item rounded overflow-hidden mb-2">
                        <div class="team-img position-relative">
                            <img class="img-fluid" src="img/eikar quispe.jpg" alt="">
                            <div class="team-social">
                                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-google"></i></a>
                                <a class="btn btn-outline-light btn-square mx-1" href="https://www.instagram.com/_karcito_?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="bg-secondary p-4">
                            <h5>Eikar Quispe</h5>
                            <p class="m-0">Calidad y Pruebas (QA) </p>
                        </div>
                    </div>
                </div>
               
                <div class="col-md-6 col-lg-3 text-center team mb-4">
                    <div class="team-item rounded overflow-hidden mb-2">
                        <div class="team-img position-relative">
                            <img class="img-fluid" src="img/kevin quispe.jpg" alt="">
                            <div class="team-social">
                                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-google"></i></a>
                                <a class="btn btn-outline-light btn-square mx-1" href="https://www.instagram.com/ikevs__?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="bg-secondary p-4">
                            <h5>Kevin Quispe</h5>
                            <p class="m-0">Ventas y Marketing</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center team mb-4">
                    <div class="team-item rounded overflow-hidden mb-2">
                        <div class="team-img position-relative">
                            <img class="img-fluid" src="img/hom.png" alt="">
                            <div class="team-social">
                                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-google"></i></a>
                                <a class="btn btn-outline-light btn-square mx-1" href="https://www.instagram.com/giovanny.gto/?utm_source=ig_web_button_share_sheet"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="bg-secondary p-4">
                            <h5>Josue Quispe</h5>
                            <p class="m-0">Analista de Base de Datos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->


    <%- include('pagina/footer') %>