<!-- views/index.ejs -->
<%- include('pagina/header') %>


    <!-- Carousel Start -->
    <div class="container-fluid p-0 pb-5 mb-5">
        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#header-carousel" data-slide-to="1"></li>
                <li data-target="#header-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" style="min-height: 300px;">
                    <img class="position-relative w-100" src="img/carousel-1.jpg" style="min-height: 300px; object-fit: cover;">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-md-3">Sitemas a medida</h5>
                            <h1 class="display-3 text-white mb-md-4">Facilita tu trabajo con nuestros sistemas hechos a medida</h1>
                            <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Ver</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="min-height: 300px;">
                    <img class="position-relative w-100" src="img/carousel-2.jpg" style="min-height: 300px; object-fit: cover;">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-md-3">Desarrollo Web Personalizado</h5>
                            <h1 class="display-3 text-white mb-md-4">Optimiza tu presencia en línea con nuestras soluciones personalizadas.</h1>
                            <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Ver</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="min-height: 300px;">
                    <img class="position-relative w-100" src="img/carousel-3.jpg" style="min-height: 300px; object-fit: cover;">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-md-3">Apps Personalizadas</h5>
                            <h1 class="display-3 text-white mb-md-4">Mejora la interacción con apps diseñadas para tu negocio.</h1>
                            <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Ver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->


   <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="img/about.jpg" alt="">
                </div>
                <div class="col-lg-7">
                    <div class="text-left mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Sobre Nosotros</h5>
                        <h1>Innovate Solution Studio</h1>
                    </div>
                    <p style="text-align: justify;">
                        En Innovate Solution Studio, nos especializamos en el desarrollo de software de alta calidad y a medida, adaptándonos a las necesidades específicas de cada cliente. Fundados el 2 de septiembre de 2024, somos un grupo de desarrolladores apasionados por la innovación tecnológica y la creación de soluciones que impulsen el crecimiento de las empresas.
                    </p>
                    <p style="text-align: justify;">
                        Nuestra misión es ofrecer productos de software eficientes, innovadores y personalizados, utilizando las mejores prácticas y las tecnologías más avanzadas para garantizar el éxito de nuestros clientes. Nos destacamos por nuestra atención al detalle, nuestra flexibilidad y nuestro compromiso con la calidad.
                    </p>
                    <p style="text-align: justify;">
                        En Innovate Solution Studio, transformamos ideas en realidades digitales.
                    </p>
                    <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Leer Mas</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->



    <!-- Category Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-5">
                <h5 class="text-primary  mb-2" style="letter-spacing: 1px;">"Los grandes logros comienzan con pequeños pasos. Cree en ti mismo, sigue avanzando y haz de cada reto una oportunidad para crecer."
                </h5>
                <h1>Nuestras Especialidades</h1>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="cat-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="img/cat-1.jpg" alt="">
                        <a class="cat-overlay text-white text-decoration-none" href="">
                            <h4 class="text-white font-weight-medium">Paginas Web</h4>
                          
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="cat-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="img/cat-2.jpg" alt="">
                        <a class="cat-overlay text-white text-decoration-none" href="">
                            <h4 class="text-white font-weight-medium">Asesoria</h4>
                         
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="cat-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="img/cat-3.jpg" alt="">
                        <a class="cat-overlay text-white text-decoration-none" href="">
                            <h4 class="text-white font-weight-medium">Diseño</h4>
                            
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="cat-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="img/cat-4.jpg" alt="">
                        <a class="cat-overlay text-white text-decoration-none" href="">
                            <h4 class="text-white font-weight-medium">Software a Medida</h4>
                     
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="cat-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="img/cat-5.jpg" alt="">
                        <a class="cat-overlay text-white text-decoration-none" href="">
                            <h4 class="text-white font-weight-medium">Marketing</h4>
                
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="cat-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="img/cat-6.jpg" alt="">
                        <a class="cat-overlay text-white text-decoration-none" href="">
                            <h4 class="text-white font-weight-medium">Aplicaciones Móviles</h4>
                
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="cat-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="img/cat-7.jpg" alt="">
                        <a class="cat-overlay text-white text-decoration-none" href="">
                            <h4 class="text-white font-weight-medium">Base de Datos</h4>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="cat-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="img/cat-8.jpg" alt="">
                        <a class="cat-overlay text-white text-decoration-none" href="">
                            <h4 class="text-white font-weight-medium">Analisis de Datos</h4>
                      
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Category Start -->


    <!-- Registration Start -->
    <div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-7 mb-5 mb-lg-0">
                    <div class="mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">¡Transforma tu Negocio con Innovate Solution Studio!</h5>
                        <h1 class="text-white">Innovación a tu alcance, éxito en cada línea de código</h1>
                    </div>
                    <p class="text-white">Aprovecha nuestra promoción especial y lleva tu empresa al siguiente nivel con soluciones de software 
                        personalizadas. Durante este mes, ofrecemos descuentos exclusivos en el desarrollo de aplicaciones web y móviles,
                         asegurando que cada proyecto se adapte a tus necesidades y objetivos. ¡No pierdas la oportunidad de impulsar tu 
                         negocio con tecnología de vanguardia!</p>
                    <ul class="list-inline text-white m-0">
                        <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>20% de Descuento en todos nuestros servicios de desarrollo de software a medida.</li>
                        <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Consultoría Gratuita para definir las mejores soluciones tecnológicas para tu empresa.</li>
                        <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Soporte Premium durante los primeros 6 meses de implementación.</li>
                    </ul>
                </div>
                <div class="col-lg-5">
                    <div class="card border-0">
                        <div class="card-header bg-light text-center p-4">
                            <h1 class="m-0">Contáctanos</h1>
                        </div>
                        <div class="card-body rounded-bottom bg-light p-5">
                            <div class="contact-info">
                                <h5 class="text-primary">Nos encontramos en</h5>
                                <p><a href="https://maps.google.com/?q=Tu+Dirección+Aquí" target="_blank" style="color: rgb(44, 44, 44);">La paz - Bolivia</a></p>
                
                                <h5 class="text-primary">Teléfono</h5>
                                <p><a href="tel:+1234567890"style="color: rgb(44, 44, 44);">(+591)76582518</a></p>
                
                                <h5 class="text-primary">Correo Electrónico</h5>
                                <p><a href="mailto:innovatesolutionstudio@gmail.com" style="color: rgb(44, 44, 44);">innovatesolutionstudio@gmail.com</a></p>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Registration End -->


    <!-- Team Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-5">
                <h5 class="text-primary  mb-2" style="letter-spacing: 1px;">"Cada desafío es una oportunidad para crecer. Avanza con confianza y transforma tus ideas en éxitos."</h5>
                <h1>Nuestro Equipo</h1>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 text-center team mb-4">
                    <div class="team-item rounded overflow-hidden mb-2">
                        <div class="team-img position-relative">
                            <img class="img-fluid" src="img/jerome jimenez.jpg" alt="">
                            <div class="team-social">
                                <a class="btn btn-outline-light btn-square mx-1" href="mailto:jerome.jimenez765@gmail.com"><i class="fab fa-google"></i></a>
                                <a class="btn btn-outline-light btn-square mx-1" href="https://www.instagram.com/xnmehec_xepom/"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="bg-secondary p-4">
                            <h5>Jerome Jimenez</h5>
                            <p class="m-0">Project Management</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center team mb-4">
                    <div class="team-item rounded overflow-hidden mb-2">
                        <div class="team-img position-relative">
                            <img class="img-fluid" src="img/cindy torrez.jpg" alt="">
                            <div class="team-social">
                                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-google"></i></a>
                                <a class="btn btn-outline-light btn-square mx-1" href="https://www.instagram.com/cindy_torrezl?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="bg-secondary p-4">
                            <h5>Cindy Torrez</h5>
                            <p class="m-0">Product Owner</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center team mb-4">
                    <div class="team-item rounded overflow-hidden mb-2">
                        <div class="team-img position-relative">
                            <img class="img-fluid" src="img/eikar quispe.jpg" alt="">
                            <div class="team-social">
                                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-google"></i></a>
                                <a class="btn btn-outline-light btn-square mx-1" href="https://www.instagram.com/_karcito_?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="bg-secondary p-4">
                            <h5>Eikar Quispe</h5>
                            <p class="m-0">Calidad y Pruebas (QA) </p>
                        </div>
                    </div>
                </div>
               
                <div class="col-md-6 col-lg-3 text-center team mb-4">
                    <div class="team-item rounded overflow-hidden mb-2">
                        <div class="team-img position-relative">
                            <img class="img-fluid" src="img/kevin quispe.jpg" alt="">
                            <div class="team-social">
                                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-google"></i></a>
                                <a class="btn btn-outline-light btn-square mx-1" href="https://www.instagram.com/ikevs__?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="bg-secondary p-4">
                            <h5>Kevin Quispe</h5>
                            <p class="m-0">Ventas y Marketing</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center team mb-4">
                    <div class="team-item rounded overflow-hidden mb-2">
                        <div class="team-img position-relative">
                            <img class="img-fluid" src="img/hom.png" alt="">
                            <div class="team-social">
                                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-google"></i></a>
                                <a class="btn btn-outline-light btn-square mx-1" href="https://www.instagram.com/giovanny.gto/?utm_source=ig_web_button_share_sheet"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="bg-secondary p-4">
                            <h5>Josue Quispe</h5>
                            <p class="m-0">Analista de Base de Datos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->


    <%- include('pagina/footer') %>