<!-- views/index.ejs -->
<%- include('pagina/header') %>


<div class="alert alert-warning text-center" role="alert" style="margin-top: 20px;">
    <h4 class="alert-heading">Atención</h4>
    <p>Los sistemas no se encuentran disponibles en este momento. Por favor, inténtelo más tarde.</p>
</div>



<%- include('pagina/footer') %>