<!-- views/index.ejs -->
<%- include('pagina/header') %>




   <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="img/about.jpg" alt="">
                </div>
                <div class="col-lg-7">
                    <div class="text-left mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Sobre Nosotros</h5>
                        <h1>Innovate Solution Studio</h1>
                    </div>
                    <p style="text-align: justify;">
                        En Innovate Solution Studio, nos especializamos en el desarrollo de software de alta calidad y a medida, adaptándonos a las necesidades específicas de cada cliente. Fundados el 2 de septiembre de 2024, somos un grupo de desarrolladores apasionados por la innovación tecnológica y la creación de soluciones que impulsen el crecimiento de las empresas.
                    </p>
                    <p style="text-align: justify;">
                        Nuestra misión es ofrecer productos de software eficientes, innovadores y personalizados, utilizando las mejores prácticas y las tecnologías más avanzadas para garantizar el éxito de nuestros clientes. Nos destacamos por nuestra atención al detalle, nuestra flexibilidad y nuestro compromiso con la calidad.
                    </p>
                    <p style="text-align: justify;">
                        En Innovate Solution Studio, transformamos ideas en realidades digitales.
                    </p>
                    <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Leer Mas</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->



   


    <%- include('pagina/footer') %>