<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Innovate Solution Studio</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@400;500;600&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Flaticon Font -->
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/cv.css" rel="stylesheet">
</head>

<body>


    <!-- inicio - Cabecera -->
    <div class="container-fluid bg-dark py-3">
        <div class="container">

            <div class="row">


                <div class="col-md-6 text-center text-lg-left mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-white pr-3" href="">FAQs</a>
                        <span class="text-white">|</span>
                        <a class="text-white px-3" href="">Help</a>
                        <span class="text-white">|</span>
                        
                        <div class="nav-item dropdown">
                          <a href="#" class="nav-link text-white dropdown-toggle" data-toggle="dropdown">Idioma</a>
                          <div class="dropdown-menu rounded-0 m-0">
                            <a href="#" class="dropdown-item" data-lang="es">
                                <img src="https://flagcdn.com/w40/es.png" alt="es" class="flag-icon"> Español
                            </a>
                            <a href="#" class="dropdown-item" data-lang="en">
                                <img src="https://flagcdn.com/w40/us.png" alt="en" class="flag-icon"> English
                            </a>
                            <a href="#" class="dropdown-item" data-lang="fr">
                                <img src="https://flagcdn.com/w40/fr.png" alt="fr" class="flag-icon"> Français
                            </a>
                            
                          </div>
                      </div>
                      
                    </div>
                </div>

                
                <div class="col-md-6 text-center text-lg-right">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-white px-3" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-white px-3" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-white px-3" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-white px-3" href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="text-white pl-3" href="">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
        <div class="container position-relative" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-secondary navbar-dark py-3 py-lg-0 pl-3 pl-lg-5">
                <a href="" class="navbar-brand">
                    <h1 class="m-0 display-5 text-white">Innovate Solution Studio</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a href="/" id="inicio" class="nav-item text-white nav-link active">Inicio</a>
                        <a href="#" id="servicios" class="nav-item text-white nav-link">Servicios</a>
                        <a href="#" id="proyectos" class="nav-item text-white nav-link">Proyectos</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown" id="otros">Otros</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="#" id="cursos" class="dropdown-item">Cursos</a>
                                <a href="#" id="libros" class="dropdown-item">Libros</a>
                            </div>
                        </div>
                        <a href="#" id="contactos" class="nav-item nav-link text-white">Contactos</a>

                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->


   <!-- Under Nav Start -->
<div class="container-fluid bg-white py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-left mb-3 mb-lg-0">
                <div class="d-inline-flex text-left">
                    <h1 class="flaticon-office font-weight-normal text-primary m-0 mr-3"></h1>
                    <div class="d-flex flex-column">
                        <h5 id="ubicacion_titulo">Ubicación</h5>
                        <p class="m-0" id="ubicacion_texto">La Paz - Bolivia</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-left text-lg-center mb-3 mb-lg-0">
                <div class="d-inline-flex text-left">
                    <h1 class="flaticon-email font-weight-normal text-primary m-0 mr-3"></h1>
                    <div class="d-flex flex-column">
                        <h5 id="correo_titulo">Correo</h5>
                        <p class="m-0" id="correo_texto">InnovateSolutionStudio@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-left text-lg-right mb-3 mb-lg-0">
                <div class="d-inline-flex text-left">
                    <h1 class="flaticon-telephone font-weight-normal text-primary m-0 mr-3"></h1>
                    <div class="d-flex flex-column">
                        <h5 id="telefono_titulo">Teléfono</h5>
                        <p class="m-0" id="telefono_texto">+591 76582518</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin - Cabecera -->
