
    <!-- inicio - equipo -->
    <div class="container-fluid bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="py-5 px-4 h-100 bg-primary d-flex flex-column align-items-center justify-content-center">
                        <h6 class="text-white font-weight-normal text-uppercase mb-3">Nuestro Equipo</h6>
                        <h2 class="mb-0 text-center text-white">Tenemos un equipo altamente capacitado y listo para llevar tus proyectos al siguiente nivel.</h2>
                    </div>
                </div>
                <div class="col-md-8 col-sm-6 p-0 py-sm-5">
                    <div class="owl-carousel team-carousel position-relative p-0 py-sm-5">
                        <div class="team d-flex flex-column text-center mx-3">
                            <div class="position-relative">
                                <img class="img-fluid w-100" src="img/equipo/jerome.jpg" alt="">
                                <div class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                                    <a class="btn btn-outline-primary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="https://www.instagram.com/accounts/website_permissions/?__pwa=1"><i class="fab fa-instagram"></i></a>
                                    <a class="btn btn-outline-primary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="mailto:jerome.jimenez765@gmail.com" title="Envíame un correo"> <i class="fab fa-google"></i></a>

                                </div>
                            </div>
                            <div class="d-flex flex-column bg-secondary text-center py-3">
                                <a href="/Jerome-Jimenez" style="text-decoration: none;"><h5 class="text-white">Jerome Jimenez</h5></a>
                                <p class="m-0">Programador</p>
                            </div>
                        </div>
                        <div class="team d-flex flex-column text-center mx-3">
                            <div class="position-relative">
                                <img class="img-fluid w-100" src="img/equipo/kevin.jpg" alt="">
                                <div class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                                    <a class="btn btn-outline-primary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="https://www.instagram.com/ikevs__?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class="fab fa-instagram"></i></a>
                                    <a class="btn btn-outline-primary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="mailto:kevinivanquispemita16@gmail.com" title="Envíame un correo"> <i class="fab fa-google"></i></a>

                                </div>
                            </div>
                            <div class="d-flex flex-column bg-secondary text-center py-3">
                               <a href="/Kevin-Quispe" style="text-decoration: none;"><h5 class="text-white">Kevin Quispe</h5></a>
                                <p class="m-0">Marketing</p>
                            </div>
                        </div>
                        <div class="team d-flex flex-column text-center mx-3">
                            <div class="position-relative">
                                <img class="img-fluid w-100" src="img/equipo/fotos_cindy/cindy.png" alt="">
                                <div class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                                    <a class="btn btn-outline-primary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="https://www.instagram.com/cindy_torrezl/?utm_source=ig_web_button_share_sheet"><i class="fab fa-instagram"></i></a>
                                    <a class="btn btn-outline-primary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="mailto:cindy.torrez.lopez@gmail.com" title="Envíame un correo"> <i class="fab fa-google"></i></a>

                                </div>
                            </div>
                            <div class="d-flex flex-column bg-secondary text-center py-3">
                                <a href="/Cindy-Torrez" style="text-decoration: none;"><h5 class="text-white">Cindy Torrez</h5></a>
                                <p class="m-0">Diseñadora</p>
                            </div>
                        </div>
                        <div class="team d-flex flex-column text-center mx-3">
                            <div class="position-relative">
                                <img class="img-fluid w-100" src="img/equipo/fotos_eikar/eikar1.jpg" alt="">
                                <div class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                                    <a class="btn btn-outline-primary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="https://www.instagram.com/_karcito_/?utm_source=ig_web_button_share_sheet"><i class="fab fa-instagram"></i></a>
                                    <a class="btn btn-outline-primary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="mailto:adeikar699@gmail.com" title="Envíame un correo"> <i class="fab fa-google"></i></a>


                                </div>
                            </div>
                            <div class="d-flex flex-column bg-secondary text-center py-3">
                                <a href="/Eikar-Quispe" style="text-decoration: none;"><h5 class="text-white">Eikar Quispe</h5></a>
                                <p class="m-0">Programador</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin - equipo -->