<!-- inicio - nosotros -->
<div class="container-fluid bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="d-flex flex-column align-items-center justify-content-center bg-primary h-100 py-5 px-3">
                    <img class="w-50 mb-3" src="icon/operando.png" alt="Image">
                    <h4 id="nosotros_anos_experiencia" class="display-3 mb-3 text-white">+2 Años</h4>
                    <h1 id="nosotros_area_digital" class="m-0 text-white" style="text-align: center;">En el área digital</h1>
                </div>
            </div>
            <div class="col-lg-7 m-0 my-lg-5 pt-5 pb-5 pb-lg-2 pl-lg-5">
                <h6 id="nosotros_titulo" class="text-primary font-weight-normal text-uppercase mb-3">¿Quiénes Somos?</h6>
                <h1 id="nosotros_nombre" class="mb-4 section-title">Innovate Solution Studio</h1>
                <p id="nosotros_descripcion_1" style="text-align: justify;">Somos un equipo apasionado de desarrolladores especializados en el área digital y tecnológica. Nuestra misión es ofrecer soluciones innovadoras y personalizadas que transformen ideas en realidades digitales.</p>
                <p id="nosotros_descripcion_2" style="text-align: justify;">Nos encargamos de diseñar y desarrollar páginas web, sistemas personalizados y estrategias tecnológicas que impulsen a negocios y emprendedores hacia el éxito en el mundo digital.</p>
                <p id="nosotros_descripcion_3" style="text-align: justify;">En cada proyecto, priorizamos la creatividad, la funcionalidad y la satisfacción de nuestros clientes, asegurándonos de que nuestras soluciones estén alineadas con sus objetivos y necesidades.</p>
                <div class="row py-2">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center mb-4">
                            <img class="w-10 mb-3" src="icon/pagina.png" alt="Image">
                            &nbsp;&nbsp;
                            <h5 id="nosotros_pagina_web" class="text-truncate m-0">Páginas Web</h5>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center mb-4">
                            <img class="w-10 mb-3" src="icon/sistema.png" alt="Image">
                            &nbsp;&nbsp;
                            <h5 id="nosotros_sistemas" class="text-truncate m-0">Sistemas Administrativos</h5>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center mb-4">
                            <img class="w-10 mb-3" src="icon/aplicaciones.png" alt="Image">
                            &nbsp;&nbsp;
                            <h5 id="nosotros_aplicaciones" class="text-truncate m-0">Aplicaciones</h5>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center mb-4">
                            <img class="w-10 mb-3" src="icon/marketing.png" alt="Image">
                            &nbsp;&nbsp;
                            <h5 id="nosotros_marketing" class="text-truncate m-0">Marketing Digital</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- fin - nosotros -->
