<!-- Features Start -->
<div id="features" class="container-fluid bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mt-5 py-5 pr-lg-5">
                <h6 class="text-primary font-weight-normal text-uppercase mb-3" id="features_titulo">¿Por qué elegirnos?</h6>
                <h1 class="mb-4 section-title" id="features_subtitulo">Más de 2 años desarrollando en el área digital</h1>
                <p class="mb-4" id="features_descripcion" style="text-align: justify;">
                    En cada proyecto, nos dedicamos a convertir tus ideas en soluciones digitales únicas, diseñadas a medida para reflejar la esencia de tu negocio y ayudarte a alcanzar tus metas. Nuestro objetivo es brindarte herramientas tecnológicas innovadoras que impulsen tu crecimiento y marquen la diferencia en el mundo digital.
                </p>
                <ul class="list-inline">
                    <li><h5 id="features_item1"><i class="far fa-check-square text-primary mr-3"></i>+2 Años de experiencia</h5></li>
                    <li id="features_item1">
                        
                        <h5><i class="far fa-check-square text-primary mr-3"></i>+2 Años de experiencia</h5>
                    </li>
                    <li id="features_item2">
                        <h5><i class="far fa-check-square text-primary mr-3"></i>Número 1 en el Área</h5>
                    </li>
                    <li id="features_item3">
                        <h5><i class="far fa-check-square text-primary mr-3"></i>Satisfacción del cliente</h5>
                    </li>
                </ul>
                <a id="btn_contactanos" href="" class="btn btn-primary mt-3 py-2 px-4">Contáctanos</a>
            </div>
            <div class="col-lg-5">
                <div class="d-flex flex-column align-items-center justify-content-center h-100 overflow-hidden">
                    <img id="features_imagen" class="h-100" src="img/oficina.png" alt="Oficina">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features End -->
