<!-- inicio - servicios -->
<div id="servicios" class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6 pr-lg-5">
                <h6 class="text-primary font-weight-normal text-uppercase mb-3" id="servicios_titulo">Nuestros Servicios</h6>
                <h1 class="mb-4 section-title" id="servicios_subtitulo">Te guiamos hacia el éxito, paso a paso</h1>
                <p id="servicios_descripcion" style="text-align: justify;">
                    Te ofrecemos la mejor asesoría para que cada paso de tu proceso sea eficiente y exitoso. Nos aseguramos de entender tus necesidades y brindarte soluciones personalizadas que garanticen los mejores resultados. Con nuestra experiencia y compromiso, tu proyecto estará en las mejores manos.
                </p>
                <a id="btn_ver_servicios" href="" class="btn btn-primary mt-3 py-2 px-4">Ver Servicios</a>
            </div>
            <div class="col-lg-6 p-0 pt-5 pt-lg-0">
                <div class="owl-carousel service-carousel position-relative">
                    <div id="servicio_web" class="d-flex flex-column text-center bg-light mx-3 p-4">
                        <img class="w-40 mb-3" style="display: block; margin: 0 auto;" src="icon/pagina.png" alt="Image">
                        <h5 class="mb-3" id="servicio_web_titulo">Página Web</h5>
                        <p class="m-0" id="servicio_web_descripcion">Creamos páginas web únicas, atractivas para tu negocio.</p>
                    </div>
                    <div id="servicio_sistemas" class="d-flex flex-column text-center bg-light mx-3 p-4">
                        <img class="w-40 mb-3" style="display: block; margin: 0 auto;" src="icon/sistema.png" alt="Image">
                        <h5 class="mb-3" id="servicio_sistemas_titulo">Sistemas Administrativos</h5>
                        <p class="m-0" id="servicio_sistemas_descripcion">Optimiza tu empresa con sistemas hechos a medida.</p>
                    </div>
                    <div id="servicio_aplicaciones" class="d-flex flex-column text-center bg-light mx-3 p-4">
                        <img class="w-40 mb-3" style="display: block; margin: 0 auto;" src="icon/aplicaciones.png" alt="Image">
                        <h5 class="mb-3" id="servicio_aplicaciones_titulo">Aplicaciones</h5>
                        <p class="m-0" id="servicio_aplicaciones_descripcion">Desarrollamos apps móviles que conectan tu negocio con tus clientes.</p>
                    </div>
                    <div id="servicio_marketing" class="d-flex flex-column text-center bg-light mx-3 p-4">
                        <img class="w-40 mb-3" style="display: block; margin: 0 auto;" src="icon/marketing.png" alt="Image">
                        <h5 class="mb-3" id="servicio_marketing_titulo">Marketing Digital</h5>
                        <p class="m-0" id="servicio_marketing_descripcion">Posicionamos tu marca con estrategias digitales efectivas.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- fin - servicios -->
